{% load static %}
<h1 style="margin: 2%;">Inventory name: {{ object.name }}</h1>

<div style="margin:2%;">
 <img src="{% static 'inventory/chair.jpg' %} " alt="inventory" width="200" height="200" style="float:left;margin-right: 2%;">
  
  <p><strong>Description:</strong> {{ object.description }}</p>
  <p><strong>Note:</strong> {{ object.note }}</p>
  <p><strong>Stock:</strong> {{ object.stock }}</p>
  <p><strong>Availability:</strong> {{ object.availability }}</p>
  <p><strong>Supplier:</strong> {{ object.supplier }}</p>
  
  
</div>